
initWS()


function initWS(){
    let wsurl = "ws://localhost:{{.Port}}" + "{{.Path}}"
    conn = new WebSocket(wsurl)

    conn.onopen = function(evt) {
        console.log(`Connected to websocket at ${wsurl}`)
    }

    conn.onclose = function(evt) {
        console.log("Lost connection to websocket. Retrying...")
        setTimeout(function() {
            initWS()
        }, 1000)
    }

    conn.onmessage = function(evt) {
        if (evt.data === "true"){
            location.reload()
        }
    }

    conn.onerror = function(evt) {
        console.log("Encountered error with websocket. Closing connection and retrying...")
        conn.close()
    }
}



